.dropdown-item{
  display: block;
  float:left;
  background-color: green
}

.footer{
  display:block;
  float:left;
  position: relative;
  left:40px;
}
footer{
  background-color: #E8E5E4;
  height: 147px;
}
.grey-text{color:#9b9a99;}
.footer-items{decoration:none; display:block}
.grey{
  background-color: #E8E5E4;}
.grad-green{
  background: -webkit-linear-gradient(rgba(9,153,17,255), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(9,153,17,255), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(9,153,17,255), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(9,153,17,255), white); /* Standard syntax */
;
}
.dropdown-div{

  position:absolute;
  z-index:99;
  width:1080px;
  display:none;
}

.header-mid{
  display:block;
  float:left;
  margin-right: 30px;
}


.dropdown-button{
  border:none;
  width:180px;
  height: 40px;
  margin: 0;
  padding: 0;
  color:white;
  display: inline-block;
  background: -webkit-linear-gradient(#03ba10, #144e13); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#03ba10, #144e13); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#03ba10, #144e13); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#03ba10, #144e13); /* Standard syntax */
}


.selected-button{
    background: -webkit-linear-gradient(#144e13, #03ba10); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#144e13, #03ba10); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#144e13,#03ba10); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#144e13, #03ba10); /* Standard syntax */
}
}
#navbar {
  padding: 0;
  margin-bottom:20px;
  width:1080px;
  height: 40px;
  float: left;
}
.button-active{
color:yellow;
}
.footer-third{
  display:inline-block;
   position:absolute;
   right: 180px;
    top: 62px;


}
.search-button{
  background: -webkit-linear-gradient(#f78b0d, #bf3200); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f78b0d, #bf3200); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f78b0d, #bf3200); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f78b0d, #bf3200); /* Standard syntax */
  width:70px;
  height: 28px;
  color:white;
  border:none;
}
.big-buttons{
  display:block;
  float:left;
  margin-right: 20px;
  cursor:pointer
}
.padded{

  padding-left:26px;
}
.search-field{
  height:26px;
  width: 390px;
  display: inline-block;
  margin: 0 auto;
}
#navbar ul{
padding: 0;
  margin: 0;
  border: 0
}


#mail-popup{
  position: relative;
  display:none;
  height: 40px;
  width: 50px;
  background-color: lightgray;
  z-index: 99;
}
#cart-popup{
position: relative;
  display:none;
  height: 40px;
  width: 50px;
  background-color: lightgray;
z-index: 99;
}
#navbar{
padding: 0;
  margin-bottom:20px;
  width:1080px;
  height: 40px;
  float: left;


}
#carousel-1{
  display: block;
  width: 815px;


}
#main, #article, header{
  display:block;
   margin-left: auto;
    margin-right: auto;
  width:1080px;
}

#article{
 display:block; float:left; position: relative; left:50px;
  width:1080px;
  margin-bottom: 30px;
}
#carousels{
  display:block;
  float: left;
  width:815px;
}
#sidebar{
    width: 234px;
    margin-left:28px;
    display:block; float:left;
}
.sidebar-items{
  margin-bottom: 20px;
  padding-left: 10px
}
.texted{

  border:1px solid grey; width:200px;
}
html{   
 background-color: lightgray;}
body {
    margin: auto;      
    width: 1385px;      
    padding: 20px;
   background-color: lightgray;
}
#header-mid{

  height: 128px;
}

.carousel-indicators{
  position: relative;
  bottom: 2px;


}
.carousel-indicators >li{

  border:1px solid grey;
}
#wrapper {
  background-color: white;
  margin:0 auto;
  width: 1180px;
  overflow: hidden;

}
 a.prev {
  background-image: url("images/scroll-arrow-left-active.png");
display:block; float:left; height:155px; width:30px;
margin-right:16px;
        }
        a.prev>img{


        position: relative;
    left: 10px;
    top: 70px;

        }

        a.next {
  background-image: url("images/scroll-arrow-right-active.png");
display:block; float:left; height:155px; width:30px;
margin-left: 16px;
        }
        a.next>img{


        position: relative;
    left: 10px;
    top: 70px;

        }
a.prev.disabled{
background-image: url("images/scroll-arrow-left-disabled.png");
}

a.next.disabled{
background-image: url("images/scroll-arrow-right-disabled.png");
}

li.elems{

  margin-right:10px; margin-left:10px; text-align: center
}
.sliders{
width:812px;  height:190px; border-top:2px solid red; border-bottom:1px solid #e0e0e0; padding-bottom:2px; padding-top:2px; margin-bottom:10px

}
h4.heading{
text-decoration:underline; color:black


}

.logo{


  /*margin-right:30px;*/
}